*.ncb
*.suo
*.swp
*.user
*.7z
*.o
*.so
*.tmp
*\~

/lib/
/bin/
Debug/
Release/
PlmTest/PlmTest
PlmTest/Release/
PlmTest/Debug/
api/Debug/
api/Release/
impl/Debug/
impl/Release/


PowerLineModule/MYMETA.*
PowerLineModule/Makefile
PowerLineModule/*old
PowerLineModule/PowerLineModule.c
PowerLineModule/PowerLineModule.bs
PowerLineModule/blib/
PowerLineModule/pm_to_blib
PowerLineModule/dll.*
PowerLineModule/const-*.inc
PowerLineModule/PowerLineModule.def
